<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Streaming rooms</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">

      <%= if @current_user do %>
        <header class="header" style="margin-top: 20px;">
          <nav role="navigation">
              <%= link "", to: room_user_path(@conn, :get_rooms_user_is_not_joined_to), class: "logo" %>
              <span class="text-light header-credentials">
                <%= @current_user.username %> | <%= link("logout", to: session_path(@conn, :logout), method: :delete) %>
              </span>

          </nav>
        <!--  <span class="logo"></span>  -->
        </header>
      <% end %>

      <p style="width:40%; margin: 0 auto; text-align: center;" class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p style="width:40%; margin: 0 auto; text-align: center;" class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
  </body>
</html>
